body,
html {
    height: 100%;
    width: 100%;
    background-color: #333;
	color: #FFF;
}

.maintitle {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 32px;
    text-align: left;
    margin: 0 0 10px 0;
    padding: 20px 0;
}

.map {
    float: right;
    height: 100%;
    width: 83%;
}

.list {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    width: 17%;
    height: auto%;
    float: left;
}

.instagram {
	width: 200px;
}

.popupBox {
    padding: 1em;
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
	color:#000;
}

.popupBoxTitle {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0 0 5px 0;
}

.ratingSite {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 0 0 15px 0;
}

input {
    width: 80%;
    margin: auto;
}

.list ul {
    padding: 0 0 0 10px;
	list-style-type: none;
}

.list li {
    margin: 1em 0 0 0;
}

.list li span {
    cursor: pointer;
}

/* Smartphones + tablets (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 400px) {
	.body {
		margin: 0;
	}
	.map {
		margin: 0;
	}
	.maintitle {
    	font-size: 9px;
    	margin: 0 0 6px 0;
    	padding: 0;
	}
	.list {
    	font-size: 9px;
    	float: left;
		height: auto;
	}
	.list ul {
    	padding: 0;
	}
	input {
		font-size: 8px;
	}
}

@media only screen
and (min-device-width : 401px)
and (max-device-width : 599px) {
	.body {
		margin: 0;
	}
	.map {
		margin: 0;
	}
	.maintitle {
    	font-size: 11px;
    	margin: 0 0 6px 0;
    	padding: 0;
	}
	.list {
    	font-size: 12px;
    	float: left;
		height: auto;
	}
	.list ul {
    	padding: 0;
	}
	input {
		font-size: 9px;
	}
}

@media only screen
and (min-device-width : 600px)
and (max-device-width : 1023px) {
	.body {
		margin: 0;
	}
	.map {
		margin: 0;
	}
	.maintitle {
    	font-size: 15px;
    	margin: 0 0 6px 0;
    	padding: 0;
	}
	.list {
    	font-size: 12px;
    	float: left;
		height: auto;
	}
	.list ul {
    	padding: 0;
	}
	input {
		font-size: 12px;
	}
}

@media only screen
and (min-device-width : 1023px)
and (max-device-width : 1269px) {
	.body {
		margin: 0;
	}
	.map {
		margin: 0;
	}
	.maintitle {
    	font-size: 18px;
    	margin: 0 0 6px 0;
    	padding: 0;
	}
	.list {
    	font-size: 12px;
    	float: left;
		height: auto;
	}
	.list ul {
    	padding: 0;
	}
	input {
		font-size: 12px;
	}
}
